body {
    background-image: url(../img/background.png);
    background-size: cover;
    /* cursor: url(../assets/sprites/UI/pointers/pointer.png), auto; */
}

nav {
    border-bottom: 0.4rem solid #9d7967;
    background-color: #e3c288;
}

nav > div {
    border-bottom: 0.4rem solid #d6b281;
}

#game {
    height: 90vh;
}

